<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goals List</title>
</head>
<body>
<h1>Goals List</h1>
    <ul>
        {% for goal in goals %}
            <li>{{ goal.name }}: {{ goal.current_amount }}/{{ goal.target_amount }} - {{ goal.deadline }}
            <a href="{% url 'edit_goal' goal.id %}">Edit</a>
            <a href="{% url 'delete_goal' goal.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_goal' %}">Add a Goal</a>
    <a href="{% url 'index' %}">Back to Home</a>
</body>
</html>